.sidebar{width:20%;margin: 0;}
.content{width:70%;max-width: 1200px;padding: 2% 5%;box-sizing: border-box;}
.contents{position: fixed;top:50px;right:70px;box-shadow: 0 0 6px #ddd;padding:16px 8px;min-height: 300px;}
body,div,p,span{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}


/** rouge highlighter**/
pre{box-sizing: border-box;width: 100%;max-width: 100%; margin: 0;display: inline-block;background: #333;}
code p,code span,pre p,pre span{ font-family:Source Code Pro, consolas, Menlo, Monaco, "Courier New", monospace;font-size: 16px;line-height: 1.6;}
td.gutter ,td.code{padding:0;display: inline-block;border: none;outline: none;height: 100%;background: transparent!important;}
td.gutter .lineno{height: 100%;line-height: 1.6; font-size: 16px;color: #666;}
pre code > table{border: none;margin-bottom: 0;}


