.sidebar{width:20%;margin: 0;}
.content{width:80%;max-width: 1300px;padding: 2% 5%;box-sizing: border-box;}
pre{box-sizing: border-box;width: 100%;max-width: 100%; margin: 0;display: inline-block;}
body,div,p,span{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
code p,code span,pre p,pre span{ font-family:Source Code Pro, consolas, Menlo, Monaco, "Courier New", monospace;font-size: 16px;line-height: 1.6;}

/** rouge highlighter**/
td.gutter ,td.code{padding:0;display: inline-block;border: none;outline: none;height: 100%;background: transparent!important;}
td.gutter .lineno{height: 100%;line-height: 1.6; font-size: 16px;color: #666;}
pre code > table{border: none;}
